<header>
    <div class="top-header">
        <a href="#" class="menu-toggle" onclick="toggleMenu()">Menu</a>
        <a href="/" class="site-title">minnong's Blog</a>
        <a href="https://github.com/minnong511" class="github-button">
            <img src="/assets/images/github-mark.svg" alt="GitHub" class="github-logo">
        </a>
    </div>
    <div class="scrolling-ticker">
        <span id="ticker-text"></span>
    </div>
</header>

<!-- 공통 네비게이션 파일 포함 -->
{% include navigation.html %}

<!-- CSS 및 JavaScript 파일 포함 -->
 <!-- Latex 작동되게 만드는 파일 -->
<link rel="stylesheet" href="/assets/css/header.css">
<script src="/assets/js/header.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>