<div class="menu-overlay" id="menu">
  <div class="menu-content">
      <h2 class="menu-title">Menu</h2>
      <ul>
          <!-- Deep Learning 대분류 -->
          <li>
              <a href="#" onclick="toggleSubmenu(event)">Deep Learning</a>
              <ul class="submenu">
                <li><a href="/categories/deep-learning/index/">-최신글</a></li>
                <li><a href="/caㅊㅊtegories/deep-learning/introduction/">- Introduction</a></li>
                <li><a href="/categories/deep-learning/advanced-topics/">- Advanced Topics</a></li>
                <li><a href="/categories/deep-learning/projects/">- Projects</a></li>
              </ul>
          </li>

          <!-- Math 대분류 -->
          <li>
              <a href="/categories/math/index" onclick="toggleSubmenu(event)">Math</a>
              <ul class="submenu">
                <li><a href="/categories/math/index/">-최신글</a></li>
                <li><a href="/categories/math/algebra/">- Algebra</a></li>
                <li><a href="/categories/math/calculus/">- Calculus</a></li>
                <li><a href="/categories/math/statistics/">- Statistics</a></li>
              </ul>
          </li>

          <!-- 기타 메뉴 -->
          <li>
              <a href="/categories/math/index" onclick="toggleSubmenu(event)">일상</a>
              <ul class="submenu">
                <li><a href="/categories/daily/daily/">-일상</a></li>
                <li><a href="/categories/daily/matzip">-맛집</a></li>
              </ul>
          </li>
          <li>
              <a href="/categories/math/index" onclick="toggleSubmenu(event)">Photo</a>
              <ul class="submenu">
                <li><a href="/categories/Photo/Photo_collection/">- Photo Collection</a></li>
                <li><a href="/categories/Photo/film/">- film</a></li>
              </ul>
          </li>
          <li>
              <a href="/categories/profile/">프로필</a>
          </li>
      </ul>
  </div>
</div>

<!-- 화면 어두워지는 거 --> 
<div class="overlay" id="overlay"></div>

<!-- 스크립트 파일 --> 
<script src="/assets/js/menu_script.js"></script>