<footer class="footer">
  <div class="container">
    <div class="columns footer-columns">
      <div class="column">
        <div class="footer-logo">Minnong's blog</div>
      </div>
      <div class="column"></div>
      <div class="column">
        <ul class="list">
          <li>운영자: {{ site.author }}</li>
          <li>Based in Seoul</li>
          <li>Contact: kzxx1234@gmail.com</li>
        </ul>
      </div>
      <div class="column">
        <ul class="list">
          <li>개인 포트폴리오 &amp; 블로그</li>
          <li>Photo / Travel / Engineering</li>
        </ul>
      </div>
    </div>
    <div class="columns footer-bottom">
      <div class="column">
        <p>© {{ "now" | date: "%Y" }} Minnong blog</p>
      </div>
      <div class="column social">
        <a href="https://instagram.com/minnong511" target="_blank" rel="noreferrer"><i class="ri-instagram-fill"></i></a>
        <a href="https://github.com/minnong511" target="_blank" rel="noreferrer"><i class="ri-github-fill"></i></a>
        <a href="https://www.linkedin.com/in/min-hyeong-lee-225294270/" target="_blank" rel="noreferrer"><i class="ri-linkedin-box-fill"></i></a>
      </div>
    </div>
  </div>
</footer>
