<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/pages.css">
    <script src="/assets/js/pages.js" defer></script>
</head>

<body>
    {% include header.html %}
    <main>
        <aside id="toc"></aside> <!-- 목차를 표시할 공간 -->
        <article class="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </article>
    </main>
    {% include footer.html %}
</body>
</html>